@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
::-moz-selection {
  background-color: #8a677e;
}
::selection {
  background-color: #8a677e;
}

html {
  scroll-behavior: smooth;
}

.custom-font {
  font-family: ''Georgia, Serif;
}

.standard-radius {
  border-radius: 10px;
}

.late-gray-bg {
  background-color: #1d1e20;
}

.font-light {
  color: #000000;
}

.title {
  opacity: 0.8;
}

.subtitle {
  opacity: 0.3;
}

.level-item {
  padding: 1em 0;
}

.title-underline {
  border-bottom: 10px solid #61555b;
}

.w-full {
  width: 100%;
}

@media (min-width: 1024px) {
  #navbarMenuHeroB {
    display: none;
  }
}

.navbar-burger span {
  width: 30px;
}

.navbar-menu {
  background-color: #000000;
}

.mobile-menu {
  color: #fcfcfc;
  -webkit-animation: menuAnimation 300ms ease;
          animation: menuAnimation 300ms ease;
}

.hero-body {
  position: relative;
}

.main-hero {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  background-image: url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 100;
}

.is-large {
  padding: 10rem 0;
}

.skills h2{
     font-weight: 400;
     letter-spacing: 1px;
     margin-top: 40px;
     margin-bottom: 5px;
     color: #fff;
     font-size: 16px;
}

.progress-bar{
   background: #959595;
   width: 600px;
   height: 10px;
   border-radius: 5px;

}

.progress-bar div{
  height: 10px;
  border-radius: 5px;
  width: 0%;


}

.progress-bar div span{
   height: 40px;
   width: 40px;
   border-radius: 50%;
   background: #222;
   float: right;
   margin-top: -15px;
   margin-right: -20px;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
}

.html{
  background: #dbcad0;
  animation: html 1s linear forwards;
}

.css{
   background: #be9aa7;
   animation: css 1s linear forwards;
}

.javascript{
     background:#9c6f7f;
     animation: javascript 1s linear forwards;
}

.php{
     background: #815363;
     animation: php 1s linear forwards;
}

.python{
    background: #532b39;
    animation: python 1s linear forwards;
}

.html span{
     border: 1px solid #dbcad0;
}

.css span{
  border: 1px solid #be9aa7;
}

.javascript span{
  border: 1px solid #9c6f7f;
}

.php span{
  border: 1px solid #815363;
}

.python span{
  border: 1px solid #5c2f3f ;
}

@keyframes html{
  100%{
   width: 90%;
  } 
 }

@keyframes css{
 100%{
  width: 83%;
 }
}

@keyframes javascript{
 100%{
  width: 93%;
 }
}

@keyframes php{
 100%{
  width: 82%;
 }
}

@keyframes python{
 100%{
  width: 91%;
 }
}


figure {
  position: relative;
  overflow: hidden;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

figure span {
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fcfcfc;
  display: none;
  text-align: center;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

figure,
img {
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}



figure:hover span {
  display: block;
}

.form {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}



@-webkit-keyframes menuAnimation {
  0% {
    margin-top: -100px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes menuAnimation {
  0% {
    margin-top: -100px;
  }
  100% {
    margin-top: 0;
  }
}
/*# sourceMappingURL=style.css.map */